.header {
	overflow: hidden;
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #ffffff;
	border-bottom: 3px solid #cccccc;
	height: 100px;
	padding:0;
    margin:0;
    width: 100%;
}
h2 {
	border-bottom: 3px solid #cccccc;
	color: #4aaaa5;
}
h3 {
	border-bottom: 3px solid #cccccc;
	color: #4aaaa5;
}
.name{
	color: white;
	display: inline-block;
	background-color: #4aaaa5;
	padding: 13px;
	margin-left: auto;
	float: left;
}
ul {
	list-style-type: none;
	margin: 0;
	overflow: auto;
	padding: 30px 0px 30px 60px;
}
li {
	display: inline;
	width: auto;
	padding: 2px;
	font-weight: bold;
	border-right: 1px solid #cccccc;
	float: right;
}
li:first-child {
	border-right:none;
}

a:link, a:visited {
    background-color: #ffffff;
    color: #888;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float:right;
    
}
body {
	background: url("../images/background.png");
	margin: 0px;
	padding: 0px;
}

.about {
	color: #888;
	float: left;
	background-color: #ffffff;
	width: 650px;
	display: block-inline;
	margin-top: 40px;
	margin-right: 40px;
}
.connect {
	color: #cccccc;
	float: left;
	background-color: #ffffff;
	margin-top: 40px;
	width: 270px;
	height: 175px;
}
.icons {
	margin-right: 30px;
}
.wrapper {
	width: 960px;
	text-align: center;
	margin: auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.footer {
	background-color: #666666;
	height: 60px;
	width: 100%;
	position: fixed;
	right: 0;bottom:0;left:0;
	text-align: center;
	border-top: 6px solid #4aaaa5;
	color: #cccccc;
}
footer {
	padding-top: 25px;
	font-size: 10px;
}
.inner {
	width: 610px;
	text-align: center;
	padding-left: 20px;
	float: left;

}
.me{
	text-align: left;
}
p {
	text-align: left;
	line-height: 1.5;
}
